        <h1> LOGIN </h1>
        <form id="login-form" target="/login" method="POST">
            <input type='text' id='username' name='username' placeholder="username"></input>
            <input type="password" id="password" name="password" placeholder="password"></input>
            <input type= "submit" />
        </form>
        <h4> Not a user? <a href="/register"> Register now </a> </h4>