        <h1> Register </h1>
        <form id="registration-form" action="/register" method="POST">
            <input type='text' id='username' name='username' placeholder="username" required><br>
            <input type='email' id="email" name="email" placeholder="email" required><br>
            <input type="password" id="password" name="password" placeholder="password" required><br>
            <input type="password" id="password-dbl" name="password-dbl" placeholder="password again" required><br>
            <input type="text" id="country" name="country" maxlength="3" minlength="3" placeholder="ISO 3 Letter Country Code"> <a href="http://www.nationsonline.org/oneworld/country_code_list.htm">Look yours up</a>
            <br>
            <input type="text" id="city" name="city" maxlength="20" placeholder="City"><br>
            <input type= "submit" />
        </form>