        <h1> Register </h1>
        <form id="registration-form" action="/register" method="POST">
            <input type='text' id='username' name='username' placeholder="username" required><br>
            <input type='email' id="email" name="email" placeholder="email" required><br>
            <input type="password" id="password" name="password" placeholder="password" required><br>
            <input type="password" id="password-dbl" name="password-dbl" placeholder="password again" required><br>
            <input type="text" id="location" name="location" placeholder="Boston, MA"><br>
            <input type= "submit" />
        </form>