<h1>Choose a City</h1>

<form id="city-search-form"  action="/citysearch" method="POST">
     <input type="text" id="city-search" name="city" placeholder="New York City"></input>
     <input type="submit"></input>
</form>
<a href="/login">Log In Here</a>
<p>Want to become a user? <a href="/register">Sign up here.</a></p>